.card {
    border-radius: 2px;
    display: inline-block;
    transition: all 0.5s ease;
    padding: 10px;
    margin: 1rem;
    position: relative;
    width: 300px;
    /* border-top-right-radius: 30px;
    border-bottom-left-radius: 30px; */
    border-radius: 20px;
    color: blueviolet;
    cursor: pointer;
}

.card:hover {
    /* background: cornsilk; */
    color: blueviolet;
    cursor: pointer;
    box-shadow: 1px 1px 4px 1px;
}

.bgimage {
    top: 10px;
    left: 10px;
    opacity: 10%;
    width: 80%;
    padding: 10px;
    height: 80%;
    position: absolute;
}

.counter-container{
    box-shadow: 1px 1px 1px 1px;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px 10px 20px;
    background: white;
}



.progress-text {
    text-align: right;
    font-weight: bolder;
}

.progress-text-title {
   text-align: left;
}

.card-detail {
    opacity: 1;
    transition: opacity 1s;
}

.card-detail.hide {
    opacity: 0;
}

/* .card-container{
   
} */